* {
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #424874;
}

body {
    background-color: #F4EEFF;
}


/* Customize */
.container {
    margin-left: 200px;
    padding: 20px 40px;
}

.card {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: royalblue;
}
/* End Customize */


/* nav */
aside {
    height: 100%;
    width: 200px;
    /* margin: 0; */
    /* padding-top: 20px; */
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    background-color: #F4EEFF;
    border-right: 2px solid #424874;
}

.logo {
    padding: 0 30px;
    height: 70px;
    line-height: 70px;
    /* background-color: red; */
}

.menu>a{
    display: block;
    padding: 8px 8px 8px 30px;
    font-size: large;
}

.menu>a:hover {
    /* color: green; */
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
}
/* End Nav */


/* Search */
.search {
    margin-left: 200px;
    background-color: #F4EEFF;
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid #424874;
}
.search>input {
    width: 70%;
    background-color: #F4EEFF;
    border-radius: 10px;
    padding: 10px 20px;
    margin: auto 20px;
    outline-style: none;
    border-color: transparent;
    font-size: large;
}

.search>::-webkit-input-placeholder {
    color: #424874;
}
/* End Search */



/* Main */
main {
    text-align: justify;
}
/* End Main */
